extends layout

block content
    h1 register
    form(action="/register",method="post")
        input(type="text" placeholder="username" name="username")
        input(type="password" placeholder="*****" name="password")
        input(type="submit" placeholder="submit")